# Elastic Stack version used by all Elastic containers
STACK_VERSION=8.15.3

# Public ports on the host
ELASTICSEARCH_PORT=9200
KIBANA_PORT=5601
NGINX_PORT=8080

# JVM limits for a classroom/demo machine. Increase if you have RAM sobrando.
ES_JAVA_OPTS=-Xms512m -Xmx512m
LS_JAVA_OPTS=-Xms256m -Xmx256m
